/*reset*/  
html,
body,
header,
main,
ul,
li,
footer {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
    display: flex;
}

body{
    background-color: rgb(164, 217, 224);
}
#listaTarefas{
    list-style-type: none;
}
#tarefas{
    background-color: azure;
    width: 60vw;
}
li{
    display: flex;
}
.marcarFeito{
    order: -1;
}
.btnExcluirTarefa img {
 width: 20px;
}